<div class="bg-white rounded-2xl shadow-2xl colonne-style">
  <h2 class="text-lg text-gray-700 font-semibold titre-colonne">{{ nom }}</h2>
  <div (dragover)="onDragOver($event);"
      (drop)="onDrop($event);"
      class="card-style">
    <div class="text-sm mt-4"
        *ngFor="let tache of taches;"
        draggable="true"
        (dragstart)="onDragStart($event, tache);"
        (dragend)="onDragEnd($event, tache)">
      <card [tache]="tache"></card>
    </div>
  </div>
  <div class="button-position">
    <button (click)="enableAdd = !enableAdd" *ngIf="!enableAdd">
      <svg class="h-6 w-6 icone-style"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="5" y1="12" x2="19" y2="12" /></svg>
    </button>
    <div *ngIf="enableAdd" class="flex">
      <input type="text" class="input-style" placeholder="Créer un logo ..." [(ngModel)]="nouvelleTache" (keydown.enter)="addTache(nouvelleTache)">
      <button (click)="addTache(nouvelleTache)">
        <svg class="h-6 w-6 icone-style"  width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M5 12l5 5l10 -10" /></svg>
      </button>
      <button (click)="enableAdd = !enableAdd">
        <svg class="h-6 w-6 icone-style"  width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
      </button>
    </div>
  </div>
</div>
